body{
    background-color: rgb(226, 217, 163);
}

.corner-img {
    position: absolute;
    top: 20px;
    right: 20px; 
}

iframe{
margin-top: 50px;
margin-left: 400px;
border-radius: 40px;
}

